<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appenders -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Loggers -->
    <logger name="com.ecommerce.admin" level="DEBUG"/>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>

</configuration>
